{{#partial "title"}}
<title>{{title}}</title>
{{/partial}}
{{#partial "content"}}
<div class="ui main container">
    <div class="ui center aligned inverted segment">
        <h2 class="ui center aligned">CAMARAS</h2>

        <div class="ui clearing divider"></div>
        <button id="nuevo" class="circular negative fluid ui button">Nueva Camara</button>
        <div class="ui clearing divider"></div>
        
        <table id ="camaras" class="ui center aligned celled structured table">
            <thead>
	        	<tr>
    	            <th class="ascending" colspan="1">#</th>
            	    <th colspan="1">Direccion IP</th>
            	    <th colspan="1">Televisores</th>
                	<th rowspan="1">Acciones</th>
            	</tr>
            </thead>
            
            <tbody>
            	{{#each camaras}}
	            <tr>
    	            <td>{{this.id}}</td>
            	    <td>{{this.ip_dir}}</td>
                	<td>
                        <div class="ui list">
                            {{#each this.televisores}}
                            	<div class="item">ID: {{this.id}} - TV: {{this.ip_dir}}</div>
                            {{/each}}
                        </div>
                    </td>
                    <td class="center aligned">
                        <button id="edit" class="ui edit icon button">
                            <i class="write icon"></i>
                        </button>
                        <button id="delete" class="ui delete icon button">
                            <i class="trash icon"></i>
                        </button>
                        <button id="delete" class="ui shuffle icon button">
                            <i class="shuffle icon"></i>
                        </button>
                        <button id="upload" class="ui circular icon button" type="file">
                            <i class="icon settings"></i>
                        </button>
                    </td>
    	        </tr>
    	        {{/each}}
            </tbody>
        </table>
    </div>

<div class="ui modal">
    <i class="close icon"></i>
        <div class="header">
            Nueva Camara
        </div>
        
        <div class="content">
            <form class="ui form" method="POST" action="/camaras">
                <div class="field">
                    <div class="field">
                        <label>Nombre</label>
                        <input type="text" name="ip_dir" placeholder="Direccion IP" required="true">
                    </div>
                    <div class="field">
                        <label>Ubicacion Id</label>
                        <input type="text" name="ubicacion_id" placeholder="idUbicacion" required="true">
				    <div class="field">>
		            	<input type="submit" class="circular red fluid ui button" value="Aceptar">
		            </div> 
			</form>
		</div>
		</div>    
</div>

</div>



<script>

	$("#nuevo").click(function(){
        $('.ui.modal').modal({
            onShow    : function(){
                $('.ui.modal .header').text("Nueva Camara");
                $('.ui.modal .content').find('input[name=nombre]').val("");
                $('.ui.modal .content').find('input[name=posicion]').val("");
                $('.ui.modal .content').find('input[name=edad]').val(""); 
                $('.ui.modal .content').find('input[name=idCazador]').val("");  
            }
        }).modal('show');
    });
		
    $(".ui.delete.icon.button").click(function(){
        var cam_id = $(this).parent().parent().find("td:first").text();
       
       $.ajax({
            url : "/camaras/" + cam_id,
            method : "DELETE",
            success : function(response){
                $('#camaras tr:eq('+cam_id+')').remove();
            }
        }) 
    });
    
    $(".ui.shuffle.icon.button").click(function(){
    	var id = $(this).parents("tr").find("td").eq(0).text();
    	var Ip = $(this).parents("tr").find("td").eq(1).text();
    	var xx = $(this).parents("tr").find("td").eq(2).text();
		
		alert(id);
		alert(Ip);
		alert(xx);
    });
    
    $(".ui.edit.icon.button").click(function(){
        var cam_id = $(this).parent().parent().find("td:first").text();
        var nombre = null;
        var posicion = null;
        var edad = null;
        
        $.ajax({
            url : "/jugadores/" + cam_id,
            method : "GET",
            success : function(response){
                nombre= response.nombre;
                posicion = response.posicion;
                edad = response.edad;
                $('.ui.modal').modal({
                    onShow    : function(){
                        $('.ui.modal .header').text("Modificar Jugador");
                        $('.ui.modal .content').find('input[name=nombre]').val(nombre);
                        $('.ui.modal .content').find('input[name=posicion]').val(posicion);
                        $('.ui.modal .content').find('input[name=edad]').val(edad);
                    }
                }).modal('show');
            }
        })
    });
    
    
</script>

{{/partial}}
{{> layout.hbs}}